<h2>Contactez-moi</h2>
<p>Utilisez le formulaire ci-dessous pour m'envoyer un message</p>
<form action="#">
    <label>Votre email <span></span></label>
    <input type="email" placeholder="Obligatoire">
    
    <label>Sujet <span></span></label>
    <input type="text" placeholder="Obligatoire">

    <label>Votre message <span></span></label>
    <textarea placeholder="Obligatoire"></textarea>

    <button type="submit">Envoyer</button>
</form>

<p>... Ou contactez-moi par téléphone au <a href="tel:0645879813">06 45 87 98 13</a></p>