<h2>Portfolio</h2>
<p>Voiçi queleques uns de mes travaux</p>
<section>
    <figure>
        <img src="../img/img1.jpg">

        <!-- Joue le rôle de alt="" dans une balise FIGURE -->
        <figcaption>Projet 1</figcaption>
    </figure>

    <figure>
        <img src="../img/img2.jpg">

        <!-- Joue le rôle de alt="" dans une balise FIGURE -->
        <figcaption>Projet 2</figcaption>
    </figure>

    <figure>
        <img src="../img/img3.jpg">

        <!-- Joue le rôle de alt="" dans une balise FIGURE -->
        <figcaption>Projet 3</figcaption>
    </figure>

    <figure>
        <img src="../img/img4.jpg">

        <!-- Joue le rôle de alt="" dans une balise FIGURE -->
        <figcaption>Projet 4</figcaption>
    </figure>
</section>