header, main, footer{
    max-width: 80rem;
    margin: 4rem auto;
}

main{
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

section:first-child{
    width: calc(60% - 2rem);
    padding: 2rem 0;
}

section:last-child{
    width: calc(40% - 2rem);
    background: #eee;
    padding: 2rem;
}