/*
Reset
*/
    *{
        /* Supprimer les marges de toutes les balises HTML */
        margin: 0;
        padding: 0;

        /* Ajouter le padding et le boder dans le calcule de la taille de balises */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Passer d'une base 16 à une base 10 */
    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;
        padding: 6rem;
    }

    header, main, footer{
        padding: 2rem;
    }

    header, main, footer{
        border: .5rem solid black;
    }

    main{
        margin: 3rem auto;
    }
/**/

/* 
Gestion des boîtes flexibles
*/
    
*/

/*
Sélectionner toutes les balises <article> sauf quand elles sont les dernières
*/
    article:not(:last-of-type){
        margin-bottom: 2rem;
    }
/**/

/* 
Requêtes media
*/
    @media screen and (min-width: 700px){

        /* Définir une boite flexible */
        main, section{
            display: -webkit-flex;
            display: -o-flex;
            display: -moz-flex;
            display: flex;

            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        

        main, main section{
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            -o-justify-content: space-between;
            justify-content: space-between;
        }
        

        section article:nth-child(1), section article:nth-child(2){
            width: calc(50% - 2rem);
        }

        section article:nth-child(3){
            width: 100%;
        }
        
        main section{
            width: calc(70% - 2rem) ;
        }

        main aside{
            width: calc(30% - 2rem) ;
        }
    }
/**/