/* 
Reset
*/
    *{
        margin: 0;
        padding: 0;

        /* Intégrer le padding et les border dans les blocs */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Ramener la base 16 à une base 10 */
    html{
        font-size: 62.5%;
    }

    body{
        font-family: sans-serif;
        font-weight: 100;
        font-size: 1.6rem;
    }

    img {
        max-width: 100%;
    }
/**/

/* 
Formulaire
*/
    /* Chaque label et input sont sur une ligne */
    label, input, textarea{
        display: block;
        width: 100%;
        padding: 1.5rem;
    }

    input, textarea{
        border: .1rem solid #eee;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        border-radius: .5rem;
    }

    textarea{
        min-height: 15rem;
    }

    label span{
        color: red;
    }
/**/

/* 
- L'application fait maximum 600px de large
- L'application est centrée dans la page
- Les liens de la nav sont sur une ligne calés à droite
- Le lien "Accueil" est placé à gauche de la nav
*/
    header, main, footer p{
        max-width: 60rem;
        margin: auto;
    }

    nav li{
        display: inline-block;
    }

    nav{
        text-align: right;
        position: relative;
    }

    nav li:first-of-type{
        position: absolute;
        left: 0;
        top: 0;
    }
/*  */

/* 
- Le footer est toujours bloqué en bas de la page
*/
    footer{
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: 1rem 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: black;
        color: white;
    }
/* */

/* 
Portfolio
*/  
    section{
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;

        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;

        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    figure{
        width: calc( 50% - 2rem );
        position: relative;
    }

    figcaption {
        position: absolute;
        width: 10rem;
        background: white;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
        padding: 4rem 0;
        text-align: center;
        top: 70%;
        left: 50%;

        opacity: 0;

        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    figure:hover figcaption{
        top: 50%;
        opacity: 1;
    }
/* */