/*
Reset
*/
    *{
        /* Supprimer les marges de toutes les balises HTML */
        margin: 0;
        padding: 0;
    }

    /* Passer d'une base 16 à une base 10 */
    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;
        padding: 6rem;
    }
/**/

/* 
Style nav
*/
    nav{
        border: .5rem solid red;
        width: 30rem;
        height: 30rem;
        margin: 5rem auto;
    }

    nav li{
        padding: 1rem;
        border: .5rem solid black;
        display: inline-block;
    }
/**/

/* 
Bloquer les balises enfants dans la balise parent (pour le positionnement)
*/
    nav{
        position: relative;
        transform: rotateZ(0deg);
        transition: all 1s;
    }

    nav:hover{
        transform: rotateZ(360deg);
    }
/**/

/* 
Sélectionner la première balise <li>
*/
    li:first-of-type{
        /* Sortir la bbalise du flux pour la repositionner */
        position: absolute;

        /* Repositionner la balise */
        top: 0;
        right: 0;
    }
/**/

/* 
Sélectionner la deuxième balise <li>
*/
    li:nth-child(2){
        /* Sortir la bbalise du flux pour la repositionner */
        position: absolute;

        /* Repositionner la balise */
        bottom: 0;
        left: 0;
    }
/**/

/* 
Sélectionner la troisième balise <li>
*/
    li:nth-child(2) + li{
        /* Sortir la bbalise du flux pour la repositionner */
        position: absolute;

        /* Repositionner la balise */
        bottom: 0;
        right: 0;
    }
/**/

/* 
Sélectionner la dernière balise <li>
*/
    li:last-child{
        /* Sortir la bbalise du flux pour la repositionner */
        position: absolute;

        /* Repositionner la balise */
        top: 0;
        left: 0;
    }
/**/