<h2>Contact</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At accusantium minus pariatur rem, consectetur dolores doloremque reiciendis, repellendus dicta molestiae fugit hic quaerat vitae temporibus natus sunt, ipsum dolor quam!</p>

<form action="#">
    <input type="text" name="name" placeholder="Nom">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="subject" placeholder="Sujet">
    <textarea name="message" placeholder="Message"></textarea>
    <button type="submit">Envoyer</button>
</form>