@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Patua+One|Quicksand:400,700');

/* 
Reset
*/
    *{
        margin: 0;
        padding: 0;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-family: 'Quicksand', sans-serif;
        font-size: 1.6rem;
        text-align: center;
    }

    a{
        color: inherit;
        text-decoration: none;
    }

    img{
        max-width: 100%;
    }

    h1, h2{
        font-family: 'Patua One', cursive;
    }

    h1{
        margin-bottom: 2rem;
    }

    h1 span {
        display: block;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.6rem;
        font-weight: 100;
    }

    h2{
        margin-bottom: 2rem;
    }

    li{
        list-style: none;
    }
/**/

/* 
Header
*/
    header, footer{
        color: white;
        background: #1d225a;
        position: relative;
    }

    nav a {
        background: rgba(255, 255, 255, .8);
        color: #1d225a;
        font-weight: 800;
        padding: 1rem;
        display: block;
        margin-bottom: .5rem;

        -webkit-transition: all .3s ;
        -moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
        transition: all .3s ;
    }

    nav a:hover{
        background-color: white;
    }

    #burgerMenu {
        border: none;
        padding: 1rem 1.2rem;
        font-weight: 900;
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        border: .5rem solid #1d225a;


        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;

        -webkit-transform: translate(-50%, 50%);
        -moz-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        -o-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }

    /* 
    Pour l'animation 
    */
        nav {
            height: 0;
            overflow: hidden;
            
            -webkit-transition: .3s all;
            -moz-transition: .3s all;
            -ms-transition: .3s all;
            -o-transition: .3s all;
            transition: .3s all;
        }

        nav.open{
            height: 14rem;
        }
    /**/
/**/

/* 
Layout
*/
    main, header{
        padding: 4rem;
    }

    footer{
        padding: 2rem;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
/**/

/* 
Portfolio
*/
    #portfolio{
        margin-top: 2rem 
    }

    #portfolio article{
        height: 15rem;
        background: #eee;
        margin-bottom: 7rem;
        position: relative;

        background-image: url('../img/1.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    #portfolio article:nth-last-child(2){
        background-image: url('../img/2.jpg');
    }

    #portfolio article:nth-last-child(3){
        background-image: url('../img/3.jpg');
    }

    #portfolio article:nth-last-child(4){
        background-image: url('../img/4.jpg');
    }

    #portfolio article div{
        position: absolute;
        background: white;
        padding: 2rem;
        width: 20rem;
        left: 50%;
        bottom: 0;
        
        -webkit-transform: translate(-50%, 5rem);
        -moz-transform: translate(-50%, 5rem);
        -ms-transform: translate(-50%, 5rem);
        -o-transform: translate(-50%, 5rem);
        transform: translate(-50%, 5rem);
    }
/**/

/* 
Formulaire
*/
    form{
        margin-top: 4rem;
    }
    input, textarea{
        display: block;
        width: 100%;
        padding: 1.5rem;
        border: none;
        border-bottom: .2rem dotted #1d225a;
        margin-bottom: 1rem;
    }
    
    textarea{
        min-height: 20rem;
    }

    button[type="submit"]{
        color: white;
        background: #1d225a;
        padding: 1rem;
        border: none;
    }
/**/


/* 
Media queries
*/
    @media screen and (min-width: 750px){

        .maxWidth{
            max-width: 80rem;
            margin: auto;
        }

        body{
            text-align: left;
        }

        #burgerMenu {
            display: none;
        }

        nav, h1 {
            height: auto;
            display: inline-block;
            vertical-align: middle
        }

        nav{
            margin-left: 2rem;
        }

        nav li {
            display: inline-block;
        }

        #portfolio{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;

            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            -ms-justify-content: space-between;
            -o-justify-content: space-between;
            justify-content: space-between;

            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        #portfolio article{
            width: calc( 50% - 2rem );
        }

    }
/**/