<h2>Portfolio</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus maxime ea sed quo ipsa. A quis rem fugiat, labore voluptates esse ea voluptate dolores vel. Laborum sint enim fuga et.</p>

<section id="portfolio">
    <article>
        <div>
            <h3>Projet 1</h3>
            <ul>
                <li>Site Web</li>
                <li>HTML, CSS</li>
            </ul>
        </div>
    </article>

    <article>
        <div>
            <h3>Projet 2</h3>
            <ul>
                <li>Site Web</li>
                <li>HTML, CSS</li>
            </ul>
        </div>
    </article>

    <article>
        <div>
            <h3>Projet 3</h3>
            <ul>
                <li>Site Web</li>
                <li>HTML, CSS</li>
            </ul>
        </div>
    </article>

    <article>
        <div>
            <h3>Projet 4</h3>
            <ul>
                <li>Site Web</li>
                <li>HTML, CSS</li>
            </ul>
        </div>
    </article>
</section>